/* cyrillic-ext */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNa7lqDY.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }

/* cyrillic */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qPK7lqDY.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* greek-ext */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNK7lqDY.woff2) format("woff2");
  unicode-range: U+1F00-1FFF; }

/* greek */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qO67lqDY.woff2) format("woff2");
  unicode-range: U+0370-03FF; }

/* vietnamese */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qN67lqDY.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB; }

/* latin-ext */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNq7lqDY.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7l.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

html,
body {
  position: fixed;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-direction: column;
  font-family: "Source Sans Pro";
  height: 100%;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  background: #0b0a0a;
  color: #fff; }

.container {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding-left: calc(16.6667vw);
  padding-right: calc(16.6667vw);
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: 2; }
  @media only screen and (max-width: 1199px) {
    .container {
      padding-left: 80px;
      padding-right: 80px; } }
  @media only screen and (max-width: 969px) {
    .container {
      padding: 30px 50px; } }
  @media only screen and (max-width: 799px) {
    .container {
      padding: 30px; } }
  @media only screen and (max-width: 480px) {
    .container {
      padding: 20px; } }

.nav_clock {
  font-size: 20px;
  letter-spacing: 5.7px; }
  @media only screen and (max-width: 969px) {
    .nav_clock {
      font-size: 18px;
      text-align: center; } }
  @media only screen and (max-width: 799px) {
    .nav_clock {
      font-size: 16px; } }
  @media only screen and (max-width: 480px) {
    .nav_clock {
      font-size: 14px; } }

.main {
  padding: 25px 0;
  z-index: 10; }
  .main_heading {
    font-weight: 600;
    font-size: 85px;
    line-height: 1.05;
    color: #587bff;
    font-family: "Source Sans Pro"; }
    @media only screen and (max-width: 1499px) {
      .main_heading {
        font-size: 70px; } }
    @media only screen and (max-width: 1199px) {
      .main_heading {
        font-size: 55px; } }
    @media only screen and (max-width: 969px) {
      .main_heading {
        font-size: 48px;
        text-align: center; } }
    @media only screen and (max-width: 799px) {
      .main_heading {
        font-size: 42px; } }
    @media only screen and (max-width: 480px) {
      .main_heading {
        font-size: 34px; } }
  .main_notification {
    padding-top: 50px;
    display: flex;
    align-items: flex-end; }
    @media only screen and (max-width: 1199px) {
      .main_notification {
        flex-direction: column-reverse;
        align-items: flex-start;
        padding-top: 40px; } }
    @media only screen and (max-width: 969px) {
      .main_notification {
        align-items: center; } }
    @media only screen and (max-width: 480px) {
      .main_notification {
        padding-top: 35px; } }
    @media only screen and (max-width: 1199px) {
      .main_notification-svg {
        margin-top: 40px; } }
    @media only screen and (max-width: 969px) {
      .main_notification-svg {
        margin-top: 20px; } }
    @media only screen and (max-width: 799px) {
      .main_notification-svg {
        margin-top: 15px; } }
  .main_email {
    margin-left: auto;
    max-width: 630px; }
    @media only screen and (max-width: 1199px) {
      .main_email {
        margin-left: 0; } }
    @media only screen and (max-width: 969px) {
      .main_email {
        margin-bottom: 40px;
        max-width: 100%;
        width: 100%; } }
  .main_subheading {
    margin-bottom: 32px;
    font-size: 38px;
    font-weight: 600;
    line-height: 1.1; }
    @media only screen and (max-width: 1199px) {
      .main_subheading {
        font-size: 32px; } }
    @media only screen and (max-width: 969px) {
      .main_subheading {
        font-size: 28px;
        text-align: center; } }
    @media only screen and (max-width: 799px) {
      .main_subheading {
        font-size: 24px; } }
    @media only screen and (max-width: 480px) {
      .main_subheading {
        font-size: 20px; } }

.form {
  display: flex;
  position: relative; }
  @media only screen and (max-width: 969px) {
    .form {
      flex-direction: column; } }
  .form_input {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    min-width: 400px;
    font-family: "Source Sans Pro";
    transition: all 0.3s;
    border: 0;
    border-bottom: 1px solid transparent;
    padding: 15px 25px 10px 0;
    outline: 0px;
    background: #000; }
    @media only screen and (max-width: 969px) {
      .form_input {
        display: block;
        margin: 0 auto;
        min-width: auto;
        width: 85%;
        padding: 15px 25px;
        font-size: 16px;
        background: #353535; } }
    @media only screen and (max-width: 799px) {
      .form_input {
        width: 75%; } }
    @media only screen and (max-width: 480px) {
      .form_input {
        font-size: 14px;
        padding: 15px;
        width: 100%; } }
    .form_input:focus {
      outline: none;
      border-bottom: 1px solid #fff; }
    .form_input::-webkit-input-placeholder {
      color: #fff; }
  .form_label {
    font-size: 16px;
    margin-left: 5px;
    position: absolute;
    top: -10px;
    color: #cccccc;
    transition: all 0.3s; }
  .form_input:placeholder-shown + .form_label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(4px); }
  .form_btn {
    width: 200px;
    font-family: "Source Sans Pro";
    background-color: #587bff;
    font-size: 20px;
    font-weight: 600;
    margin-left: 16px;
    cursor: pointer;
    color: white;
    transition: all 500ms ease;
    padding: 15px 12px;
    border-radius: 2px;
    border: 1px solid #587bff;
    outline: 0px; }
    .form_btn:hover {
      background-color: transparent; }
    @media only screen and (max-width: 1199px) {
      .form_btn {
        margin-left: 0;
        margin-top: 15px; } }
    @media only screen and (max-width: 969px) {
      .form_btn {
        margin: 15px auto 0;
        display: block;
        width: 85%;
        font-size: 16px; } }
    @media only screen and (max-width: 799px) {
      .form_btn {
        width: 75%; } }
    @media only screen and (max-width: 480px) {
      .form_btn {
        font-size: 14px;
        width: 100%; } }

@media only screen and (max-width: 969px) {
  .footer {
    text-align: center; } }

.footer_copyrights {
  color: #2f2f2f;
  display: inline-block;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase; }
  @media only screen and (max-width: 799px) {
    .footer_copyrights {
      font-size: 14px; } }
  @media only screen and (max-width: 480px) {
    .footer_copyrights {
      font-size: 12px; } }

.logo {
  transform: translate3d(0px, -50%, 0px);
  position: fixed;
  top: 50%;
  left: 0px;
  transition: opacity 250ms ease 0s; }
